build/
/.metadata/
CursoJMS_KAFKA/service-reading-report/target/
CursoJMS_KAFKA/service-users/target
CursoJMS_KAFKA/target/
CursoJMS_KAFKA/common-kafka/target/

CursoJMS_KAFKA/service-email/target/
CursoJMS_KAFKA/service-frauddetector/target/
CursoJMS_KAFKA/service-reading-report/target/
