body {
	font-family: Verdadana;
}

table {
	margin: 0 auto;
}

table tfoot tr {
	background: #c8c8c8;
}

h2 {
	color: blue;
	font-family: verdana;
	font-family: verdana;
}

input {
	font-size: xx-small;
	margin: 0px;
	font-family: verdana;
}

.success {
	color: green;
}

.error {
	color: red;
}