<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory name="hibernate.cfg.xml">

		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/curso-java</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">skater</property>

		<property name="hibernate.connection.pool_size">1</property>

		<property name="hibernate.format_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>

		<property name="hibernate.current_session_context_class">thread</property>

		<property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

		<property name="hibernate.show_sql">true</property>

	    <property name="hibernate.hbm2ddl.auto">update</property>

		<mapping resource="br/com/entities/Eventos.hbm.xml" />
		<mapping resource="br/com/entities/Categoria.hbm.xml" />
		<mapping resource="br/com/entities/Pessoas.hbm.xml" />
		
		<mapping class="br.com.entities.EventosEntity" />

	</session-factory>
</hibernate-configuration>